.myButton{
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size:18px;
    font-weight: bold;
    background-color: greenyellow;
    color: #000;
    cursor: pointer;
    border-radius: 7px;
    border: none;

}